.section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.section .section-subtitle {
    margin-bottom: 6px;
  
    opacity: .6;  font-weight: 400;
}

.section .section-title {
    font-size: calc(20px + (35 - 20) * ((100vw - 300px) / (1300 - 300)));
    color: #60159B;
    font-weight: 700;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.rounded {
    border-radius: 0.25rem !important;
    font-size: 17px;
    font-weight: 700;
}

.title {
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1300 - 300)));
    font-weight: 700;
   
}

.text-light {
    color: #f8f9fa !important;
    
}

